*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
/signing/release.keystore
/dappstore/*.json
/dappstore/package.json
/dappstore/pnpm-lock.yaml
/dappstore/node_modules
/dappstore/.asset-manifest.json
/dappstore/.asset-manifest-devnet.json